@use "../variables" as *;

.catalog {
  &__load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 75px;
    padding: 16px 48px;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: $transition;
    outline: none;
    border: none;
  }
}
