@use "../variables" as *;

.catalog {
  &__search {
    position: relative;
    display: flex;
    flex: 1; 
    align-items: center;
    max-width: 315px;
    height: 44px;
    box-sizing: border-box;
    background: $primary-bg;
    border: $input-border;
    border-radius: $input-radius;

    &:focus-within {
      border-color: $input-focus;
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    }
  }

  &__search-input {
    width: 100%;
    padding: 0px 15px;
    border: none;
    font-size: 16px;
    font-family: $font-primary;
    transition: $transition;

    &:focus {
      outline: none;
      opacity: 0.6;
    }
    
    &::placeholder {
      color: $text-input;
      transition: opacity 0.2s;
    }
  }

  &__search-icon {
    position: absolute;
    right: clamp(12px, 2vw, 16px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 15px;
    height: 15px;
    opacity: 0.7;
  }
}
