@use "../variables" as *;

.catalog {
  &__topbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: clamp(40px, 8vw, 64px);
    padding-top: 40px;

    @media (max-width: 1230px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 1150px) {
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0px;
    gap: 20px;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 8px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
  }

  &__tabs-tab {
    padding: 10px 27px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: $transition;
    white-space: nowrap;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: $text-input;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    sup {
      position: absolute;
      top: 5px;
      right: 12px;
      color: grey;
      font-size: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 0.3s ease; 
    }
  
    &--active {
      border: $border-active-tab;
      border-radius: 4px;
      color: $red-text;
  
      sup {
        color: $red-text;          
        font-weight: 700;
      }
    }
  
    &:hover:not(&--active) {
      border: $border-active-tab;
      color: $red-text;
  
      sup {
        color: $red-text;
      }
    }
  }
}
