@use "../variables" as *;

.catalog {
  &__scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 8px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    width: 56px;
    height: 56px;
    background: $primary-bg;
    border: 1px solid $red-text;
  }

  @media (max-width: 768px) {
    .scroll-to-top {
      display: block;
    }
  }
}
