$border-active-tab: 1px solid #ff3f3a;

$yellow: #FFC93C;
$text-primary: #1A1A1A;
$text-secondary: #787A80;
$red-text: #ff3f3a;

$primary-bg: #fff;

$card-border: 1px solid #e5e8ed;
$card-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
0px 30px 24px -10px rgba(154, 156, 165, 0.05),
0px 12px 10px -6px rgba(154, 156, 165, 0.04),
0px 4px 4px -4px rgba(30, 33, 44, 0.03);

$tag-marketing:  #03CEA4;
$tag-management:#5A87FC;
$tag-hr: #F89828;
$tag-design: #F52F6E;
$tag-development: #7772F1;

$input-radius: 4px;
$input-border: 1px solid #d7dadd;
$text-input: #9A9CA5;

$radius: 16px;
$shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
$transition: all 0.3s ease;

//  new variables 

$btn-typography: 15px;
$header-catalog-typography: 13px;
$page-header-typography: 15px;
$header-mobile-typography: 15px;
$header-typography: 15px;
$typography-label: 12px;

$typography-button: 15px;
$typography-header-catalog: 13px;
$typography-page-header: 60px;
$typography-page-header-mobile: 36px;
$typography-header: 48px;
$typography-header-mobile: 32px;
$typography-big-text: 24px;
$typography-big-text-mobile: 18px;
$typography-subheader: 34px;
$typography-card-header: 20px;
$typography-card-subheader: 0.875rem;
$typography-text: 16px;
$typography-copyright-stepper: 14px;
$font-family: 'Roboto', sans-serif;
$line-height: 120%;
$base-weight: 400;
$subheader-weight: 500;
$btn-weight: 500;
$fast-catalog-weight: 300;
$content-width: 1440px;
