$font-primary: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height-tight: 1.1;
$line-height-normal: 1.3;
$line-height-relaxed: 1.5;
$line-height-loose: 1.6;

$font-size-xs: 0.75rem;    
$font-size-sm: 0.875rem; 
$font-size-base: 1rem;    
$font-size-lg: 1.125rem;   
$font-size-xl: 1.25rem; 
$font-size-2xl: 1.5rem;    
$font-size-3xl: 1.875rem; 
$font-size-4xl: 2.25rem; 
$font-size-5xl: 2.5rem;      
$font-size-6xl: 2.875rem; 

$primary-bg: #fff;
$text-primary: #1a1a1a;
$text-secondary: #787a80;
$red-text: #ff3f3a;
$title-text: #1e212c;
$load-more: #424551;

$border-active-tab: 1px solid #ff3f3a;
$card-border: 1px solid #e5e8ed;
$card-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
  0px 30px 24px -10px rgba(154, 156, 165, 0.05),
  0px 12px 10px -6px rgba(154, 156, 165, 0.04),
  0px 4px 4px -4px rgba(30, 33, 44, 0.03);

$tag-marketing: #03cea4;
$tag-management: #5a87fc;
$tag-hr: #f89828;
$tag-design: #f52f6e;
$tag-development: #7772f1;

$input-radius: 4px;
$input-border: 1px solid #d7dadd;
$text-input: #9a9ca5;
$input-focus:  #3b82f6;

$radius: 16px;
$shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
$transition: all 0.3s ease;
